<h1>Đăng kí học viên</h1>
<form [formGroup]="userForm">
  <p>email: <input type="text" formControlName="email"></p>
  <p style="color: red" *ngIf="userForm.controls.email.hasError('email')">Phải đúng định dạng email</p>
  <p>country:
    <select formControlName="country">
      <option value="Vietnam">Viet Nam</option>
      <option value="US">US</option>
      <option value="UK">UK</option>
    </select>
  </p>
  <p>age: <input type="date" formControlName="age"></p>
  <p style="color: red" *ngIf="userForm.controls.age.hasError('not18')">Tuổi phải lớn hơn hoặc bằng 18</p>
  <p >
    gender:
  </p>
  <div>
    <input type="radio" id="html" formControlName="gender" value="Nam">
      <label for="html">Nam</label><br>
      <input type="radio" id="css" formControlName="gender" value="Nu">
      <label for="css">Nữ</label><br>
      <input type="radio" id="javascript" formControlName="gender" value="Khac">
      <label for="javascript">Khác</label>
  </div>
  <p>phone: <input type="text" formControlName="phone"></p>
  <p style="color: red" *ngIf="userForm.controls.phone.hasError('pattern')">Số điện thoại phải đúng định dạng</p>
  <div formGroupName="pwGroup">
    <p>password: <input type="text" formControlName="password"></p>
    <p>passwordConfirm: <input type="text" formControlName="passwordConfirm"></p>
  </div>

<!--  <p style="color: red" *ngIf="userForm.controls.password.hasError('minLength') && userForm.controls.password.dirty">Mật khẩu có độ dài ít nhất là 6</p>-->
<!--  <p style="color: red" *ngIf="userForm.controls.passwordConfirm.hasError('minLength') && userForm.controls.passwordConfirm.dirty">Mật khẩu có độ dài ít nhất là 6</p>-->

  <p style="color: red" *ngIf="userForm.controls.pwGroup.hasError('wrongPassword')">Mật khẩu chưa khớp nhau</p>
  <button (click)="getInfoUser()">Create</button>
</form>
